.configuration-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.configuration-modal__header {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.configuration-modal__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.configuration-modal__list-item {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

.configuration-modal__separator {
    margin-bottom: 1rem;
}

.configuration-modal__field-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.configuration-modal__field {
    padding: 0.5rem;
    margin: 0.5rem;
    cursor: pointer;
}

.configuration-modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.configuration-modal__button {
    border-radius: 7px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.configuration-modal__button-clear {
    border-radius: 7px;
    border: none;
    background-color: #f44336;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}