.winner-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.winner-text {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #f9b208;
    margin-bottom: 2rem;
}

.guesses-text {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.restart-text {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #f9b208;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 1rem;
    transition: background-color 0.2s ease;
}

.restart-text:hover {
    background-color: #e89c07;
}