.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.game-board {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.word-cell {
    border: 1px solid black;
    padding: 4px;
    width: 50px;
    height: 50px;
}

.word-options {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.word-option {
    margin: 1px;
}

.gamepage_button {
    border-radius: 7px;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.gamepage_button-clear {
    border-radius: 7px;
    border: none;
    background-color: #f44336;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}